
.icon-phone:before { content: '\e800'; } /* '' */
.icon-email:before { content: '\e801'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */